<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="Header">
    <meta charset="UTF-8">
    <title>HEADER ER HER</title>
</head>
<body>
<header th:fragment="commonHeader">
    <h1>HEAER!</h1>
    <nav class="top-navigation">
        <a class="frontpage" href="/">Forside</a>
        <a class="recipes" href="/recipes">Opskrifter</a>
        <a class="facts" href="/facts">Fakta</a>
        <a class="contact" href="/contact">Kontakt</a>
    </nav>
    </header>
</body>
</html>