<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/ftr&hdr.css">
    <link rel="stylesheet" type="text/css" href="/styles/popupBox.css">


</head>
<body>
<header class="header">
    <img class="header_img" src="images/img.png">
    <div class="container"></div>
    <nav>
        <ul class="nav_links">
            <li class="nav_li"><a href="#">Forside</a></li>
            <li class="nav_li"><a href="#">Ønskeliste</a></li>
            <li class="nav_li"><a href="#">Om Os</a></li>
        </ul>
    </nav>
    <nav class="nav_button">
        <div class="top-bar">
        <form action="/index" method="post">
            <div class="input_box">
                <label for="username"></label>
                <input type="text" class="username_input" name="username" id="username"
                       placeholder="E-mail eller brugernavn"><br>
                <input type="password" class="password_input" name="password" id="password"
                       placeholder="Adgangskode"><br>
            </div>
            <input type="submit" value="Login" class="login_button">
            <a class="opret_button" href="#popup1">Opret</a>
        </form>
        <span th:text="${error}" class="wrong_userInput"></span>
        </div>
    </nav>
</header>
<main>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Indtast oplysninger</h2>
            <a class="close" href="#">&times;</a>
            <div class="input_box">
                <form action="/createUser" method="post">
                    <input type="text" class="fname" name="first_name" placeholder="Fornavn">
                    <input type="text" class="lname" name="last_name" placeholder="Efternavn">
                    <input type="text" class="email" name="email" placeholder="E-mailadresse">
                    <input type="text" class="username" name="username" placeholder="Brugernavn">
                    <input type="text" class="password" name="passcode" placeholder="Adgangskode">
                    <input type="submit" value="Opret" class="login_button">
                </form>
                <div th:if="${show_popup1}">
                    <span th:text="${error_username}" class="wrong_userInput"></span>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="introContainer">
    <div class="introContainer_text">
        <h1>Velkommen Til Wishlist</h1>
        <br>
        <h3>Vi vil gerne gøre det nemmere for dig at lave din drømme liste.</h3>
        <p>Vores mål er at give dig værktøjer til at skabe din ultimative ønskeliste og dele den med andre.</p><br>
        <p>Vi tror på, at ved at dele dine drømme, kan du inspirere andre og måske endda få nogle af dine ønsker opfyldt.</p><br>
        <p>Så lad os sammen skabe et fællesskab, hvor vi støtter hinanden i at realisere vores drømme og skabe et positivt miljø.</p><br>
        <p>Uanset om du drømmer stort eller småt, er Wishlist stedet, hvor dine ønsker kan blive hørt og støttet af et dedikeret fællesskab.</p><br>
        <p>Lad os sammen gøre drømme til virkelighed og skabe en verden, hvor ingen drømme er for store til at blive opfyldt.</p><br>
        <p>Tilmeld dig nu og begynd at opbygge din ønskeliste med Wishlist!</p><br>
        <p>Med Wishlist kan du følge med i dine venner og familiers ønsker, og give dem gaver, der virkelig betyder noget.</p><br>
        <p>Vi tilbyder også inspiration og idéer til, hvordan du kan opfylde dine egne og andres ønsker.</p>
        <p>Sammen kan vi skabe en verden fyldt med glæde og generøsitet, hvor vi alle støtter hinanden i at forfølge vores drømme.</p><br>
        <p>Wishlist er mere end bare en liste - det er et fællesskab, der fejrer vores drømme og støtter hinanden på vejen mod at opfylde dem.</p><br>
        <p>Tilmeld dig i dag og bliv en del af vores fællesskab af drømmere og livsnydere!</p><br>
        <p>Vi ser frem til at byde dig velkommen og dele vores drømme med dig!</p><br>
        <p>Lad os sammen skabe magi og sprede glæde med Wishlist!</p><br>
        <p>Tilmeld dig nu og lad drømmene begynde!</p><br>
    </div>
    <div class="introContainer_img">
        <img src="/billeder/wishlist.jpg">
    </div>
</div>

    <footer>
        <div class="kontakt_info">
            <h3>Kontakt Us via.</h3>
            <br>
            <p>Email: wishlist.wish@wishy.com</p>
            <br>
            <p>Tlf: 77 73 33 20</p>
            <br>
            <p>Addresse: Tuborg Havnepark 15, 2900 Hellerup</p>
        </div>
        <nav class="socialemedier">
            <ul>
                <li><a class="footer_img" href="facebook.com"><img src="/billeder/facebook.png" alt="Facebook"/></a> <br>Facebook</li>
                <li><a href="x.com" class="footer_img"><img src="/billeder/x.png" alt="X"/></a><br>x</li>
                <li><a href="instagram.com" class="footer_img"><img src="/billeder/Instagram.png"/></a><br>Instagram</li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>