<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/lillil.css">
    <title>Ønskeskyen</title>
</head>
<body>

<header>
    <img class="logo" src="" alt="Logo">
    <div class="container"></div>
        <nav>
            <ul class="nav_links">
                <li class="nav_li"><a href="#">Forside</a></li>
                <li class="nav_li"><a href="#">Ønskeliste</a></li>
                <li class="nav_li"><a href="#">Om Os</a></li>
            </ul>
        </nav>
    <nav class="nav_button">
        <a href="" class="signup_login"><button>Log In</button></a>
        <a href="" class="signup_login"><button>Sign Up</button></a>
    </nav>
</header>

</body>
</html>